@font-face {
	font-family: "Bebas Neue";
	src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
		url("../fonts/BebasNeueRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}
body,
html {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #ffffff;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.container {
	max-width: 1300px;
	padding: 0 10px;
	margin: 0 auto;
}
.header {
	background-color: #635854;
	border-bottom: 4px solid #3596f5;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	max-width: 120px;
	min-height: 30px;
	object-fit: contain;
	padding-top: 8px;
}
.navbar-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
}
.navbar-menu__item {
	padding: 9px 15px;
	margin: 0 40px;
	transition: all 0.4s ease-out;
}

.navbar-menu__item:hover {
	background: #3596f5;
}

.navbar-contacts {
	text-align: right;
}
.navbar-contacts__text {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	margin-bottom: 5px;
}
.navbar-contacts__phone {
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	color: #ffffff;
}

.main-container {
	display: flex;
	justify-content: space-between;
	padding-top: 58px;
}

.home-image path {
	opacity: 0;
}
.home-image path:hover {
	opacity: 0.75;
	cursor: pointer;
}
path.current-floor {
	opacity: 0.75;
}
.main-title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-size: 37px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	color: #635854;
	margin: 0;
}

.main-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	text-align: center;
}
.counter {
	font-family: "Bebas Neue", sans-serif;
	font-size: 124px;
	color: #635854;
}

.counter-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button-primary {
	padding: 16px 32px;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	background: #3596f5;
	border-radius: 6px;
}
.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	opacity: 0;
	transition: all 0.3s ease-in;
}
.is-open {
	opacity: 1;
	display: flex;
	transform: scale(1);
}
.modal-dialog {
	display: flex;
	position: relative;
	max-width: 1000px;
	min-height: 565px;
	background-color: #ffffff;
	flex-grow: 1;
	opacity: 0;
	transition: opacity 1s, transform 1s;
	transform: translateY(-10%);
	transition-delay: 1.5s;
}
.is-open > .modal-dialog {
	transform: translateY(0);
	opacity: 1;
}
.modal-count {
	font-family: "Bebas Neue", sans-serif;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.modal-image {
	padding: 45px 0;
	flex: 0 0 60%;
	background: #ebebeb;
	text-align: center;
}
.modal-image__title {
	font-family: "Bebas Neue", sans-serif;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 25px;
}
.modal-info {
	flex: 0 0 40%;
	background-color: #ffffff;
	text-align: left;
	padding: 50px 46px;
}
.modal-info__item {
	margin-bottom: 10px;
}
.modal-info__list {
	margin-top: 45px;
	margin-bottom: 45px;
}
.modal-info__link {
	font-size: 16px;
	line-height: 19px;
	color: #635854;
}
.modal-info__link:hover {
	text-decoration-line: underline;
	color: #3596f5;
}
.modal-info__text {
	font-style: italic;
	font-size: 16px;
	line-height: 19px;
	color: #635854;
}
.modal-close__btn {
	position: absolute;
	top: 38px;
	right: 27px;
	width: 25px;
	height: 25px;
	fill: #3596f5;
	transition: all 0.4s;
}
.modal-close__btn:hover {
	transform: rotate(360deg);
}
.flats path {
	cursor: pointer;
	opacity: 0;
}
.flats path:hover {
	opacity: 1;
}
