@font-face {
	font-family: "Bebas Neue";
	src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
		url("../fonts/BebasNeueRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}
body,
html {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #ffffff;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.container {
	max-width: 1300px;
	padding: 0 10px;
	margin: 0 auto;
}
.header {
	background-color: #635854;
	border-bottom: 4px solid #3596f5;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	max-width: 120px;
	min-height: 30px;
	object-fit: contain;
	padding-top: 8px;
}
.navbar-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
}
.navbar-menu__item {
	padding: 9px 15px;
	margin: 0 40px;
	transition: all 0.4s ease-out;
}

.navbar-menu__item:hover {
	background: #3596f5;
}

.navbar-contacts {
	text-align: right;
}
.navbar-contacts__text {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	margin-bottom: 5px;
}
.navbar-contacts__phone {
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	color: #ffffff;
}

.main-container {
	display: flex;
	justify-content: space-between;
	padding-top: 58px;
}

.home-image path {
	opacity: 0;
}
.home-image path:hover {
	opacity: 0.75;
	cursor: pointer;
}
path.current-floor {
	opacity: 0.75;
}
.main-title {
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-size: 37px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	color: #635854;
	margin: 0;
}

.main-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	text-align: center;
}
.counter {
	font-family: "Bebas Neue", sans-serif;
	font-size: 124px;
	color: #635854;
}

.counter-group {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button-primary {
	padding: 16px 32px;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	background: #3596f5;
	border-radius: 6px;
}
